# Environnement virtuel Python
.venv/
venv/

# Variables secrètes
.env

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Base SQLite éventuelle
*.sqlite
*.db

# Vidéos et enregistrements
recordings/
*.mp4
*.mkv
*.webm
*.avi

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
